@import url(https://fonts.googleapis.com/css?family=Squada+One);
@import url(https://fonts.googleapis.com/css?family=Reem+Kufi);
@import url(https://fonts.googleapis.com/css?family=Sriracha);
@import url(https://fonts.googleapis.com/css?family=Dosis:400,600);

.App {
    text-align: center;
  }
  
.App-Header {
    font-family: 'Reem+Kufi' , sans-serif ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff ;
    font-size: 10vw;
    font-weight: bold;
    line-height: 4rem;
    padding-bottom: 1rem;
}

.Parallax-bg {
    background-color: #282c34;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.small-text {
    font-size: 3vw !important;
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 5s;
    animation-name: animatebottom;
    animation-duration: 5s
}
  
@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

@-webkit-keyframes pulse {
    0% {
      opacity: 0;
      background-position: center top;
      -moz-background-size: 0 auto;
      -o-background-size: 0 auto;
      -webkit-background-size: 0 auto;
      background-size: 0 auto;
    }
    10% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      -moz-background-size: 75% auto;
      -o-background-size: 75% auto;
      -webkit-background-size: 75% auto;
      background-size: 75% auto;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      background-position: center bottom;
      -moz-background-size: 0 auto;
      -o-background-size: 0 auto;
      -webkit-background-size: 0 auto;
      background-size: 0 auto;
    }
  }
  @-moz-keyframes pulse {
    0% {
      opacity: 0;
      background-position: center top;
      -moz-background-size: 0 auto;
      -o-background-size: 0 auto;
      -webkit-background-size: 0 auto;
      background-size: 0 auto;
    }
    10% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      -moz-background-size: 75% auto;
      -o-background-size: 75% auto;
      -webkit-background-size: 75% auto;
      background-size: 75% auto;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      background-position: center bottom;
      -moz-background-size: 0 auto;
      -o-background-size: 0 auto;
      -webkit-background-size: 0 auto;
      background-size: 0 auto;
    }
  }
  @-ms-keyframes pulse {
    0% {
      opacity: 0;
      background-position: center top;
      -moz-background-size: 0 auto;
      -o-background-size: 0 auto;
      -webkit-background-size: 0 auto;
      background-size: 0 auto;
    }
    10% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      -moz-background-size: 75% auto;
      -o-background-size: 75% auto;
      -webkit-background-size: 75% auto;
      background-size: 75% auto;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      background-position: center bottom;
      -moz-background-size: 0 auto;
      -o-background-size: 0 auto;
      -webkit-background-size: 0 auto;
      background-size: 0 auto;
    }
  }
  @keyframes pulse {
    0% {
      opacity: 0;
      background-position: center top;
      -moz-background-size: 0 auto;
      -o-background-size: 0 auto;
      -webkit-background-size: 0 auto;
      background-size: 0 auto;
    }
    10% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      -moz-background-size: 75% auto;
      -o-background-size: 75% auto;
      -webkit-background-size: 75% auto;
      background-size: 75% auto;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      background-position: center bottom;
      -moz-background-size: 0 auto;
      -o-background-size: 0 auto;
      -webkit-background-size: 0 auto;
      background-size: 0 auto;
    }
  }
  
  .scroll-down {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: 190px;
  }
  .scroll-down a {
    display: block;
    opacity: 0;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    line-height: 0;
    font-size: 0;
    color: transparent;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    -moz-background-size: 0 auto;
    -o-background-size: 0 auto;
    -webkit-background-size: 0 auto;
    background-size: 0 auto;
    -webkit-animation: pulse 1.5s 0s infinite normal ease forwards;
    -moz-animation: pulse 1.5s 0s infinite normal ease forwards;
    -o-animation: pulse 1.5s 0s infinite normal ease forwards;
    animation: pulse 1.5s 0s infinite normal ease forwards;
    background-image: url("https://jamesmuspratt.com/codepen/img/arrow-down.svg");
    background-repeat: no-repeat;
  }
  .scroll-down a:before, .scroll-down a:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url("https://jamesmuspratt.com/codepen/img/arrow-down.svg") no-repeat center top;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
  }
  .scroll-down a:before {
    -webkit-animation: pulse 1.5s 0.25s infinite normal ease forwards;
    -moz-animation: pulse 1.5s 0.25s infinite normal ease forwards;
    -o-animation: pulse 1.5s 0.25s infinite normal ease forwards;
    animation: pulse 1.5s 0.25s infinite normal ease forwards;
  }
  .scroll-down a:after {
    -webkit-animation: pulse 1.5s 0.5s infinite normal ease forwards;
    -moz-animation: pulse 1.5s 0.5s infinite normal ease forwards;
    -o-animation: pulse 1.5s 0.5s infinite normal ease forwards;
    animation: pulse 1.5s 0.5s infinite normal ease forwards;
  }
  .scroll-down a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 40px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 15px;
  }
  
  #myBtn:hover {
    background-color: transparent;
  }

  #myTextAbout {
    display: none;
    font-size: 3vw;
    color: white;
    cursor: pointer;
    padding: 15px;
  }

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

h1 { 
  font: bold 300% Sriracha, monospace;
  font-size: 4vw;
	border-right: .1em solid rgb(221, 221, 221);
	width: 16.5em; 
	width: 32ch;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 2s steps(21, end),
	blink-caret .5s step-end infinite alternate;
}

.animate-center {
  position: relative;
  -webkit-animation-name: animatecenter;
  -webkit-animation-duration: 7s;
  animation-name: animatecenter;
  animation-duration: 2s
}

@-webkit-keyframes animatecenter {
  from { opacity:0 } 
  to { opacity:1 }
}

@keyframes animatecenter { 
  from{ opacity:0 } 
  to{ opacity:1 }
}